<!doctype html>
<html lang="en" xmlns="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

 <section class="container-fluid body " style="background-color: white;">
      <!-- side bar -->
      <div class="row g-0 p-4 m-4 ">
        <div class="col-sm-12 col-md-6 p-2 ">
          <p class="content">&emsp;&emsp;It appears that you're referring to taking a compliant action within a 24-hour timeframe. However, the context is still a bit unclear. "Compliant action" could mean different things depending on the situation or context in which it is used.</p>
          <!-- <br> -->
          <p class="content">&emsp;&emsp;If you have a specific compliance-related task or requirement that needs to be addressed within 24 hours, it's important to understand the nature of that compliance and what actions are expected. Compliance can pertain to various areas such as legal, regulatory, organizational policies, etc. If you could provide more details or clarify the context, I would be better able to assist you with any information or guidance you may be seeking.</p>
          <br><br>
  
          <h4>Don’t hesitate to contact us if you have any questions.</h4>
          <h4>Via Email: Educommitteestudy@gmail.com</h4>
          <h4>• Via this Link: <a th:href="@{/}">https//educommittee.in</a></h4>
          <h4>Via this Address: AT-WADNER, DIST-WARDHA, MAHARASHTRA-42307, INDIA.</h4>
        </div>

        <!-- side image -->
        <div class="col-sm-12 col-md-6 p-4 mt-5">
          <div class="image">
            <img th:src="@{/images/logo.png}" class="img-fluid imagetag fixed-top-0" alt="...">
          </div>

          <br><br>
          <center><a th:href="@{/terms&condition}" style="font-size: 140%;">Terms and conditions</a></center>
        </div>
      </div>
    </section> 

</body>
</html>